*{
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 16px;
}

/*Editando la cabecera*/
.bienvenidos{
    background: url("../images/banner.jpg");
    width: 100%;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
}

header{
    width: 100%;
    background-color: rgba(0,0,0,.3);
    overflow: hidden;
    position: absolute;
}

header .encabezado{
    width: 90%;
    margin: 0px auto;
    color: #fff;
    overflow: hidden;
}

header .encabezado h3{
    font-size: 1.4em;
    line-height: 75px;
    float: left;
}

header .encabezado nav{
    float: right;
    line-height: 75px;
    display: inline-block;
}


header .encabezado nav ul li{
    display: inline-block;
}
header .encabezado nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: .4em .4em;
    border-radius: .2em;
    transition: all 500ms ease;
}

header .encabezado nav ul li a:hover{
    color: #fff;
    padding: .4em .4em;
    transition: all .2s;
    border-radius: .1em;
    background-color: #f05f40;
}


.bienvenidos .container .texto-bienvenido{
    position: relative;
    text-align: center;
    padding-top: 25%;
}

.bienvenidos .container .texto-bienvenido h6{
    color: #fff;
    font-size: 1em;
    font-weight: 100;
}

.bienvenidos .container .texto-bienvenido h1{
    color: #fff;
    font-weight: 300;
    font-size: 3em;
}

.bienvenidos .container .texto-bienvenido a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: .5em;
    padding: 1em;
    background: #f05f40;
    border-radius: .3em;
}

/*diseño de quienes somos*/
















